<div class="main-container">
  <h2 id="buttonpage-title">Stay calm!</h2>
  <div id="inner-buttonpage-container">
    <div>
      <%= simple_form_for Incident.new, url: create_incident_path, method: :post do |f| %>
        <%= f.input :incident_type, as: :hidden, input_html: { value: "red" } %>
        <button type="submit" class="button-round" id="red-button">Red Button</button>
      <% end %>
    </div>
    <div>
      <%= simple_form_for Incident.new, url: create_incident_path, method: :post do |f| %>
        <%= f.input :incident_type, as: :hidden, input_html: { value: "yellow" } %>
        <button type="submit" class="button-round" id="yellow-button">Yellow Button</button>
      <% end %>
    </div>
  </div>
</div>

<style>
  .not-hidden-popup {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    color: white;
    text-align: center;
    padding-top: 50%;
    font-size: 24px;
  }

  .hidden-popup button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
  }
</style>

<audio id="notification-sound">
  <source src="<%= asset_path('security-alarm.mp3') %>" type="audio/mpeg">
</audio>

<div id="popup-waiting" class="not-hidden-popup">
  <div class="main-container">
    <p><%= @incident.user.first_name %> is looking for help!</p>
    <% image_source = ["John", "Jane"].include?(@incident.user.first_name) ? "#{@incident.user.first_name}_avatar.jpeg" : "test_avatar.webp" %>
    <img src="<%= image_path(image_source) %>" class="avatar-image">
    <% i_type = @incident.incident_type == "red" ? "Serious Incident" : @incident.incident_type %>
    <p>Incident Type: <%= i_type %></p>
    <%# <%= link_to "Cancel Request", undo_create_incident_path(@incident), class: "button" %>
    <%= link_to "Open Notification", incident_page_path(@incident), class: "button", style: "display: flex; align-items: center; justify-content: center;" %>
  </div>
</div>

<script>
  var sound = document.getElementById("notification-sound");

  function playSound() {
    sound.play();
  }

  // Trigger the sound when the pop-up is shown
  document.addEventListener("DOMContentLoaded", playSound);
</script>
