<div class="main-container container">
  <% unless @user_is_affected %>
    <% unless @responder.has_accepted? %>
      <h2 class="title-responderpage"><%= @incident.user.first_name %> needs your help!</h2>
    <% else %>
      <h2>Your way to <%= @incident.user.first_name %>!</h2>
    <% end %>
  <% else %>
    <% unless @responder.nil? %>
      <h2 class="title-responderpage"><%= @responder.user.first_name %> is <%= @responder.has_arrived? ? "here" : "on their way to you" %>!</h2>
    <% else %>
      <h2 class="title-responderpage">We've sent out the notification!</h2>
    <% end %>
  <% end %>

  <div class="map-container">
    <div id="map"></div>
  </div>

  <div class="user-container">
    <% other_user = @user_is_affected ? @responder : @incident %>
    <% if other_user.nil? %>
      <a href="<%= incident_page_path(@incident) %>">
        <h3>Waiting for responders...</h3>
      </a>
    <% else %>
      <% other_user = other_user.user %>
      <% image_source = User.list.include?(other_user.first_name) ? "#{other_user.first_name}_avatar.jpeg" : "test_avatar.webp" %>
      <img src="<%= image_path(image_source) %>" alt="" id="incident-show-avatar" class="avatar">
      <div class="user-info">
        <div>
          <h2><%= "#{other_user.first_name} #{other_user.last_name}" %></h2>
          <% if @incident.user == current_user %>
            <% ratings = other_user.responders.map { |r| r.incident.review_rating }.reject { |num| num.nil? } %>
            <% unless ratings.empty? %>
              <% average_rating = (ratings.sum.to_f / ratings.length).round(1) %>

              <div class="user-rating">
                <p><%= average_rating %></p>
                <div class="stars">
                  <% 5.times do |num| %>
                    <% if num < average_rating.floor %>
                      <p class="star yellow-star">★</p>
                    <% else %>
                      <p class="star">★</p>
                    <% end %>
                  <% end %>
                </div>
              </div>

            <% else %>
              <p>This user does not have any reviews yet.</p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="incident-container">
    <h3>Type of incident</h3>
    <% i_type = @incident.incident_type == "red" ? "Serious Incident" : @incident.incident_type %>
    <p><%= i_type %></p>
    <p>Address: Bellerivestrasse 201, 8008 Zurich</p>
  </div>

  <div class="button-container">
    <% unless @user_is_affected %>
      <% unless @responder.has_accepted? %>
        <%= link_to "Accept Request", accept_path, class: "button" %>
      <% else %>
        <%= link_to "I am here", helper_page_path(@incident), class: "button" %>
      <% end %>
      <%= link_to "Decline", cancel_path(@responder), class: "button" %>
    <% else %>
      <%= link_to "Close the case", close_path(@incident), class: "button" %>
    <% end %>
  </div>

  <% unless @user_is_affected %>
    <% if @responder.has_accepted? %>

      <script>
        setTimeout(() => {
          var popup = document.getElementById("popup");
          popup.style.display = "block";
        }, 15000); // 10 seconds delay
      </script>

      <div id="popup" class="hidden-popup">
        <p>Have you arrived yet?</p>
        <button onclick="location.href='<%= helper_page_path(@incident) %>'">I am here</button>
        <button onclick="location.href='<%= incident_page_path(@incident) %>'">I haven't arrived yet</button>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2FzaGFzY2hlcnJlciIsImEiOiJjbGlsdDhqNWswYzQ1M2ZwajNlNThnc2NhIn0.lHGiHoU0aSaDC4UmjdyRvA';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [8.5407, 47.3769], // Poststrasse 5 coordinates
    zoom: 14
  });

  var marker = new mapboxgl.Marker()
    .setLngLat([8.5407, 47.3769]) // Poststrasse 5 coordinates
    .addTo(map);

  var popup = new mapboxgl.Popup()
    .setLngLat([8.5407, 47.3769]) // Poststrasse 5 coordinates
    .setHTML('<p style="color: black;">Poststrasse 5, 8001 Zurich</p>')
    .addTo(map);

  map.addControl(new mapboxgl.NavigationControl());
</script>
