<h1>incident page (id=<%= @incident.id %>)</h1>
<p>I am the <%= @user_is_affected ? "affected" : "responder" %> <%= @current_user.first_name %></p>

<div class="main-container container">
  <% unless @user_is_affected %>
    <% unless @responder.has_accepted? %>
      <h2 class="title-responderpage"><%= @incident.user.first_name %> needs your help!</h2>
    <% else %>
      <h2> Your way to <%= @incident.user.first_name %>!</h2>
    <% end %>
  <% else %>
    <% unless @responder.nil? %>
      <h2 class="title-responderpage"><%= @responder.user.first_name %> is on the way to you! </h2>
    <% else %>
      <h2 class="title-responderpage">We've sent out the notification!</h2>
    <% end %>
  <% end %>

  <div class="map-container">
    <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+FF0000(8.5495,47.3593)/8.5495,47.3593,16.5,0,0/600x1000?access_token=pk.eyJ1Ijoic2FzaGFzY2hlcnJlciIsImEiOiJjbGlsdDhqNWswYzQ1M2ZwajNlNThnc2NhIn0.lHGiHoU0aSaDC4UmjdyRvA'>
  </div>

  <div class="user-container">
    <% other_user = @user_is_affected ? @responder : @incident %>
    <% if other_user.nil? %>
      <h3>Waiting for responders...</h3>
    <% else %>
      <% other_user = other_user.user %>
      <img src="<%= image_path("#{other_user.first_name}_avatar.jpeg") %>" alt="" class="avatar">
      <div class="user-info">
        <div class="">
          <h2><%= other_user.first_name + " " + other_user.last_name %></h2>
        </div>
      </div>
    <% end %>
  </div>

  <div id="incident-container">
    <h3>Type of incident</h3>
    <p><%= @incident.incident_type %></p>
  </div>

  <div class="button-container">
    <% unless @user_is_affected %>
      <% unless @responder.has_accepted? %>
        <%= link_to "Accept Request", accept_path, class: "button" %>
      <% else %>
        <%= link_to "I am here", helper_page_path(@incident), class: "button" %>
      <% end %>
      <%= link_to "Decline", cancel_path(@responder), class: "button" %>
    <% else %>
      <%= link_to "close the case", close_path(@incident), class: "button" %>
    <% end %>
  </div>
</div>

<%# this will eventually be for the pop-up %>
<% unless @user_is_affected %>
  <% if @responder.has_accepted %>
    <script>
      setTimeout(() => {
        console.log("Have you arrived?"); // do this
      }, 10000);                          // after 10000 ms
    </script>
  <% end %>
<% end %>
