<h1>incident page (id=<%= @incident.id %>)</h1>
<p>I am the <%= @user_is_affected ? "affected" : "responder" %></p>

<% unless @user_is_affected %>
  <p>responder#id=<%= @responder.id %></p>
  <p>this is the <%= @responder.has_accepted? ? "map" : "responder" %> page</p>
  <% unless @responder.has_accepted? %>
    <%= link_to "accept", accept_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "arrive", helper_page_path(@incident), class: "btn btn-secondary" %>
  <% end %>
  <%= link_to "cancel", cancel_path(@responder), class: "btn btn-danger" %>
<% else %>
  <p>the current responder_id is <%= @responder.nil? ? @responder.class : @responder.id %></p>
  <%= link_to "close the case", close_path(@incident), class: "btn btn-primary" %>
<% end %>

<% unless @user_is_affected %>
  <script>
    setTimeout(() => {
      console.log("have you arrived?");
    }, 10000);
  </script>
<% end %>

<div class="main-container">
  <h2 id="title-responderpage"> <%= @incident.user.first_name %> needs your help!</h2>
  <div class="map-container">
  </div>
  <div class="user-container">
    <img src="<%= image_path("test_avatar.webp") %>" alt="" class="avatar">
    <div class="user-info">
      <div class="">
        <h2> <%= @incident.user.first_name + " " + @incident.user.last_name %> </h2>
      </div>
    </div>
  </div>

  <div id="incident-container">
    <h3>Type of incident</h3>
    <p> <%= @incident.incident_type %> </p>
  </div>
  <div class="button-container">
    <a href="#" class="button">Respond to Incident</a>
    <a href="#" class="button"><Decline></Decline></a>
  </div>
</div>

<h2> Your way to <%= @incident.user.first_name %>! </h2>
<% if @responder %>
  <h2> <%= @responder.user.first_name %> is on the way to you! </h2>
<% end %>
