<div class="main-container">
  <div class="profile-container">
    <div class="avatar-profile">
      <% image_source = User.list.include?(current_user.first_name) ? "#{current_user.first_name}_avatar.jpeg" : "test_avatar.webp" %>
      <img src="<%= image_path(image_source) %>" alt="" class="avatar-image">
      <div>
        <h1>My Profile</h1>
      </div>
    </div>
  </div>

  <div class="profile-section">
    <h3>Personal Information</h3>
    <p><strong>Email:</strong> <span class="info-value"><%= current_user.email %></span></p>
    <p><strong>First Name:</strong> <span class="info-value"><%= current_user.first_name %></span></p>
    <p><strong>Last Name:</strong> <span class="info-value"><%= current_user.last_name %></span></p>
  </div>


  <div class="profile-section">
    <h3>Medical Information</h3>
    <p><strong>Medications:</strong> <span class="info-value"><%= current_user.medication %></span></p>
    <p><strong>Height:</strong> <span class="info-value"><%= current_user.height %></span></p>
    <p><strong>Language:</strong> <span class="info-value"><%= current_user.languages %></span></p>
  </div>

  <% if false %>
    <div class="profile-section">
      <h3>Emergency Contacts</h3>
      <p><strong>Mum:</strong> <span class="contact-value"><%= current_user.emergency_contact_mum %></span></p>
      <p><strong>Dad:</strong> <span class="contact-value"><%= current_user.emergency_contact_dad %></span></p>
    </div>
  <% end %>


  <% if !current_user.medical_info_id.nil? && current_user.medical_info.title != "" %>
    <div class="medical-info">
      <h3>Medical Conditions:</h3>
      <p><%= current_user.medical_info.title %></p>
    </div>
  <% end %>

  <% if policy(current_user).update? %>
    <%= link_to 'Edit personal information', edit_user_registration_path, class: 'button edit-link app-link' %>
  <% end %>
  <% if policy(current_user).ask_medical? %>
    <%= link_to 'Edit medical information', ask_medical_path(current_user), class: 'button edit-link app-link' %>
  <% end %>

  <script>
    const dropdown = document.getElementById('medical-condition');
    const hiddenInput = document.getElementById('selected-conditions');

    dropdown.addEventListener('change', function() {
      const selectedOptions = Array.from(this.selectedOptions).map(option => option.value);
      hiddenInput.value = selectedOptions.join(',');
    });
  </script>
</div>
