<div class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars fa-2xl" style="color: #F1D00A;"></i>
    </button>

    <div class="navbar-brand text-end">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-no-background.png", class: "logo-image" %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a href=<%= profile_path(current_user) %> class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% image_source = User.list.include?(current_user.first_name) ? "#{current_user.first_name}_avatar.jpeg" : "test_avatar.webp" %>
              <img src="<%= image_path(image_source) %>" alt="dropdown menu" class="avatar">
            </a>
          </li>
          <li class="nav-item">
            <%= link_to "My profile", profile_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "⚠️ Panic button ⚠️", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Fake Call", fake_call_path, class: "nav-link" %> <!-- Add this line -->
          </li>
          <li class="nav-item">
            <%= link_to "My missions", missions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
