<div class="main-container" data-controller="alarm-subscription" data-alarm-subscription-user-value="<%= current_user.id %>">
  <div id="inner-buttonpage-container">
    <div>
      <%= simple_form_for Incident.new, url: create_incident_path, method: :post do |f| %>
        <%= f.input :incident_type, as: :hidden, input_html: { value: "red" } %>
        <button type="submit" id="red-button"><span class="fa-solid fa-bolt"></span></button>
      <% end %>
    </div>
    <div>
      <%= simple_form_for Incident.new, url: create_incident_path, method: :post do |f| %>
        <%= f.input :incident_type, as: :hidden, input_html: { value: "yellow" } %>
        <button type="submit" id="yellow-button"><span class="fa-solid fa-bolt"></span></button>
      <% end %>
    </div>
  </div>
</div>
